:root {
  --bg: hsl(0, 0%, 8%);
  --white-text: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 85%);

  --green: hsl(153, 71%, 59%);
}

@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: url(../assets/fonts/static/SpaceGrotesk-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "SpaceGrotesk-Medium";
  src: url(../assets/fonts/static/SpaceGrotesk-Medium.ttf) format("truetype");
}
html {
  scroll-behavior: smooth;
}
body {
  display: grid;
  background-color: var(--bg);
  color: var(--white-text);
  font-family: "SpaceGrotesk-Bold";
}
header {
  grid-row: 1;
  grid-column: 1 / -1;
  height: max-content;
  z-index: 1;
  padding-block-start: 1.25rem;

  & h1 {
    font-size: 1.5rem;
    line-height: 0.75;
  }
}

.logos-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 1.25rem;

  & div {
    display: flex;
    gap: 1.625rem;
  }
}
main {
  display: grid;
  grid-template-columns: subgrid;
  grid-row: 1;
  grid-column: 1 / -1;

  row-gap: 5rem;
}

.profile-picture-container {
  display: grid;
  grid-template-columns: subgrid;
  justify-items: center;
  background: url(../assets/images/pattern-circle.svg) no-repeat right -4.03125rem
      top 15.875rem,
    url(../assets/images/pattern-rings.svg) no-repeat -21.375rem 7.75rem;
  transition: 1s ease;
  & picture {
    width: max-content;
    padding-block-end: 2.5rem;

    /* margin: auto; */
  }
  & img {
    width: 10.875rem;
  }
}

.intro-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  align-self: center;
  align-items: center;
  & h2 {
    font-size: 2.5rem;
    letter-spacing: -0.07125rem;
    line-height: 1;

    & span {
      text-decoration: underline var(--green);
      text-underline-position: under;
    }
  }

  & p {
    color: var(--gray);
    font-family: "SpaceGrotesk-Medium";
    font-size: 1rem;
    line-height: 1.625;
  }

  & button {
    font-size: 1rem;
    padding-block-end: 0.625rem;
    border-bottom: 2px solid var(--green);

    & a {
      text-decoration: none;

      &:is(:link, :visited, :active) {
        color: var(--white-text);
      }

      &:hover {
        color: var(--green);
        cursor: pointer;
      }
    }
  }
}
