:root {
  --bg: hsl(0, 0%, 8%);
  --white-text: hsl(0, 0%, 100%);
}
@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: url(../assets/fonts/static/SpaceGrotesk-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "SpaceGrotesk-Medium";
  src: url(../assets/fonts/static/SpaceGrotesk-Medium.ttf) format("truetype");
}

body {
  display: grid;
  background-color: var(--bg);
  color: var(--white-text);
  font-family: "SpaceGrotesk-Bold";
}
header {
  grid-row: 1;
  grid-column: 1 / -1;
  height: max-content;
  z-index: 1;
  padding-block-start: 1.25rem;

  & h1 {
    font-size: 1.5rem;
  }
}

.logos-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 1.25rem;

  & div {
    display: flex;
    gap: 1.625rem;
  }
}
main {
  display: grid;
  grid-template-columns: subgrid;
  grid-row: 1;
  grid-column: 1 / -1;
}

.profile-picture-container {
  display: grid;
  grid-template-columns: subgrid;
  justify-items: center;
  background: url(../assets/images/pattern-circle.svg) no-repeat,
    url(../assets/images/pattern-rings.svg) no-repeat;
  & picture {
    width: max-content;

    /* margin: auto; */
  }
  & img {
    width: 10.875rem;
  }
}
