:root {
  --bg: hsl(0, 0%, 8%);
  --white-text: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 85%);
  --dark-gray: hsl(0, 0%, 14%);
  --green: hsl(153, 71%, 59%);
}

@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: url(../assets/fonts/static/SpaceGrotesk-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "SpaceGrotesk-Medium";
  src: url(../assets/fonts/static/SpaceGrotesk-Medium.ttf) format("truetype");
}
html {
  /* scroll-behavior: smooth; */
  height: 100%;
  margin: 0 auto;
  max-width: 90rem;
}
body {
  display: grid;
  min-height: 100%;
  background-color: var(--bg);
  color: var(--white-text);
  font-family: "SpaceGrotesk-Bold";
  z-index: 2;
  transition: 1s ease;
  background: url(../assets/images/pattern-rings.svg) no-repeat
      clamp(-21.375rem, -25.9671rem + 19.5929vw, -16.5625rem)
      clamp(5.375rem, 10.0162rem + -9.6692vw, 7.75rem),
    url(../assets/images/pattern-rings.svg) no-repeat
      clamp(11.8125rem, -9.3588rem + 90.3308vw, 34rem)
      clamp(61.5rem, 98.5076rem + -77.0992vw, 80.4375rem),
    var(--bg);
}
footer {
  background: url(../assets/images/pattern-rings.svg) no-repeat
      clamp(-23rem, -19.8244rem + -6.6158vw, -21.375rem)
      clamp(27.25rem, 20.6302rem + 28.2443vw, 34.1875rem),
    var(--dark-gray);

  padding-inline: 0.5rem;
  padding-block-start: 3.75rem;

  & .logos-container {
    border-top: 1px solid var(--white-text);
    padding-block: clamp(1.875rem, 2.9742rem + -2.2901vw, 2.4375rem)
      clamp(2.5rem, 4.9427rem + -5.0891vw, 3.75rem);

    & p {
      font-size: 1.5rem;
    }
  }
}
header {
  grid-row: 1;
  grid-column: 1 / -1;
  height: max-content;
  z-index: 1;
  padding-block-start: 1.25rem;
  padding-inline: clamp(1rem, 0.0458rem + 4.0712vw, 2rem)
    clamp(0.875rem, -0.0231rem + 3.8321vw, 1.8163rem);

  & h1 {
    font-size: clamp(1.5rem, 1.0229rem + 2.0356vw, 2rem);
    line-height: 1.33;
    letter-spacing: clamp(-0.0275rem, -0.0141rem + -0.028vw, -0.0206rem);
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.25rem;

  & h3 {
    font-size: clamp(2.5rem, 0.5916rem + 8.1425vw, 4.5rem);
    line-height: 1;
    letter-spacing: clamp(-0.1281rem, -0.017rem + -0.2316vw, -0.0712rem);
  }

  & p {
    font-family: "SpaceGrotesk-Medium";
    font-size: clamp(1rem, 0.8807rem + 0.5089vw, 1.125rem);
    line-height: 1.625;
  }
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: "SpaceGrotesk-Medium";

  width: clamp(21.4375rem, 15.3545rem + 25.9542vw, 27.8125rem);

  .error-text {
    font-size: 0.75rem;
    align-self: flex-end;
    color: #ff6f5b;
    display: inline;
  }

  .hide {
    display: none;
  }
  & input,
  textarea {
    all: unset;
    width: 100%;
    text-indent: 1.5rem;
    padding-block-end: 1.0625rem;
    font-size: 1rem;
    line-height: 1.625;
    letter-spacing: -0.01375rem;
    border-bottom: 1px solid var(--white-text);
    &:user-invalid {
      border-bottom: 1px solid #ff6f5b;
    }
  }

  & label {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
  }
  & textarea {
    resize: none;
    height: 5.56rem;
    display: block;
  }
  & button {
    width: max-content;
    align-self: flex-end;
    font-size: 1rem;
    line-height: 1.625;
    letter-spacing: 0.143125rem;

    padding-block-end: 0.625rem;
    border-bottom: 2px solid var(--green);

    &:hover {
      cursor: pointer;
      color: var(--green);
    }
  }
}
.experience-div {
  width: 100%;
}
.experience-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  text-align: center;

  padding-block: clamp(2.5rem, 1.7844rem + 3.0534vw, 3.25rem);
  margin-inline: clamp(1rem, 0.1651rem + 3.5623vw, 1.875rem)
    clamp(0.875rem, -0.0792rem + 4.0712vw, 1.875rem);
  gap: clamp(1.5rem, -0.1698rem + 7.1247vw, 3.25rem)
    clamp(0.4375rem, 2.5138rem + -4.3257vw, 1.5rem);

  & div {
    width: 19.5625rem;
    & h3 {
      font-size: clamp(2rem, 1.0458rem + 4.0712vw, 3rem);
      line-height: 1.25;
      letter-spacing: clamp(-0.0937rem, -0.0327rem + -0.1272vw, -0.0625rem);
    }
    & p {
      color: var(--gray);
      font-family: "SpaceGrotesk-Medium";

      font-size: clamp(1rem, 0.8807rem + 0.5089vw, 1.125rem);

      line-height: 1.625;
    }
  }
}

.form-container {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: clamp(3rem, 3.2443rem + -0.5089vw, 3.125rem);
  padding-block-end: 5.4375rem;
}
.logos-container {
  display: flex;
  flex-direction: column;

  justify-self: center;
  align-items: center;
  gap: 1.25rem;

  & div {
    display: flex;
    gap: 1.625rem;
  }

  & a:hover > svg > path {
    cursor: pointer;
    fill: var(--green);
    color: var(--green);
  }
}
main {
  height: 100%;
  display: grid;
  grid-template-columns: subgrid;
  grid-row: 1;
  grid-column: 1 / -1;
  justify-items: center;
  padding-block-end: 5rem;
  row-gap: clamp(0rem, 9.771rem + -20.3562vw, 5rem);
}

.profile-picture-container {
  display: grid;
  justify-items: center;
  overflow: hidden;
  position: relative;

  padding-inline: clamp(1rem, 0.0458rem + 4.0712vw, 2rem)
    clamp(0rem, 1.9542rem + -4.0712vw, 1rem);

  & picture {
    width: max-content;
    z-index: -1;
    padding-block-end: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
  }
  & img {
    width: clamp(10.875rem, 2.0487rem + 37.659vw, 20.125rem);
  }

  .circle {
    position: absolute;
    width: 8.0625rem;

    right: clamp(-4.0625rem, -4.1555rem + 0.3969vw, -3.965rem);
    top: clamp(15.875rem, 2.9337rem + 55.2163vw, 29.4375rem);
  }
}

.project-btns {
  display: flex;
  font-size: 1rem;
  gap: 1.875rem;
  line-height: 1.625;
  letter-spacing: 0.143124rem;

  & a {
    padding-block-end: 0.625rem;
    border-bottom: 2px solid var(--green);
    text-decoration: none;

    &:is(:link, :visited, :active) {
      color: var(--white-text);
    }

    &:hover {
      color: var(--green);
      cursor: pointer;
    }
  }
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem)
    clamp(1.5rem, 3.4542rem + -4.0712vw, 2.5rem);
  padding-block-start: clamp(0rem, -2.8626rem + 12.2137vw, 3rem);
}
.project-card {
  width: 21.4375rem;
  display: flex;
  flex-direction: column;

  gap: 1.25rem;
}

.project-details {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
  & h4 {
    font-size: 1.5rem;
    line-height: 1.33;
    text-transform: uppercase;
  }

  & div {
    display: flex;
    gap: 1.125rem;
    color: var(--gray);
    font-family: "SpaceGrotesk-Medium";
    line-height: 1.55;
    font-size: 1.125rem;
    text-transform: uppercase;
  }
}
.projects-header {
  display: flex;
  justify-content: space-between;
  grid-row: 1;
  grid-column: 1 / -1;
  align-items: center;

  padding-inline: clamp(1rem, 0.0458rem + 4.0712vw, 2rem);

  width: 100%;
  & h3 {
    font-size: clamp(2.5rem, 0.5916rem + 8.1425vw, 4.5rem);
    letter-spacing: clamp(-0.1281rem, -0.017rem + -0.2316vw, -0.0712rem);
    line-height: 1;
  }

  & a {
    height: max-content;
    font-size: 1rem;
    letter-spacing: 0.14rem;
    padding-block-end: 0.625rem;
    border-bottom: 2px solid var(--green);
    text-decoration: none;
    line-height: 1.625;

    &:is(:link, :visited, :active) {
      color: var(--white-text);
    }

    &:hover {
      color: var(--green);
      cursor: pointer;
    }
  }
}

.intro-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  align-items: center;

  gap: clamp(1.5rem, -1.3626rem + 12.2137vw, 4.5rem);

  & h2 {
    font-size: clamp(2.5rem, 0.5916rem + 8.1425vw, 4.5rem);
    letter-spacing: clamp(-0.1281rem, -0.017rem + -0.2316vw, -0.0712rem);
    line-height: 1;

    & span {
      text-decoration: underline var(--green);
      text-underline-position: under;
    }
  }

  & p {
    color: var(--gray);
    font-family: "SpaceGrotesk-Medium";

    font-size: clamp(1rem, 0.8807rem + 0.5089vw, 1.125rem);
    line-height: 1.625;
  }

  & a {
    font-size: 1rem;
    padding-block-end: 0.625rem;
    line-height: 1.625;
    letter-spacing: 0.143125rem;
    border-bottom: 2px solid var(--green);
    text-decoration: none;

    margin-block-start: clamp(-2.125rem, 2.0277rem + -8.6514vw, 0rem);

    margin-block-start: 1.4375rem;

    &:is(:link, :visited, :active) {
      color: var(--white-text);
    }

    &:hover {
      color: var(--green);
      cursor: pointer;
    }
  }
}
dialog {
  display: none;
}
@media (min-width: 48rem) {
  body {
    background: url(../assets/images/pattern-rings.svg) no-repeat
        clamp(-16.5625rem, -28.3482rem + 24.5536vw, -6.25rem)
        clamp(5.375rem, 2.0179rem + 6.994vw, 8.3125rem),
      url(../assets/images/pattern-rings.svg) no-repeat
        clamp(34rem, -16.2857rem + 104.7619vw, 78rem)
        clamp(61.5rem, 58.6429rem + 5.9524vw, 64rem),
      var(--bg);
  }

  footer {
    background: url(../assets/images/pattern-rings.svg) no-repeat
        clamp(-23rem, -34.5714rem + 24.1071vw, -12.875rem)
        clamp(20.4375rem, 49.9018rem + -32.7381vw, 34.1875rem),
      var(--dark-gray);

    padding-inline: clamp(1rem, -9.6429rem + 22.1726vw, 10.3125rem);
    padding-block-start: clamp(3.75rem, 2.0357rem + 3.5714vw, 5.25rem);

    & .logos-container {
      padding-block: clamp(1.875rem, 0.6607rem + 2.5298vw, 2.9375rem)
        clamp(2.5rem, -1.2143rem + 7.7381vw, 5.75rem);
    }
  }

  header {
    padding-inline: clamp(2rem, -7.5rem + 19.7917vw, 10.3125rem)
      clamp(1.8163rem, -9.9937rem + 24.6042vw, 12.15rem);

    & h1 {
      line-height: 1;
    }
  }

  .contact-container {
    gap: clamp(1.25rem, 0.1071rem + 2.381vw, 2.25rem);

    & h3 {
      font-size: clamp(4.5rem, 3.3571rem + 2.381vw, 5.5rem);
      letter-spacing: clamp(-0.1562rem, -0.096rem + -0.067vw, -0.1281rem);
    }

    & p {
      line-height: 1.55;
      width: 37ch;
    }
  }
  .experience-container {
    text-align: start;
    border-bottom: 0 solid var(--gray);

    margin-inline: clamp(1.875rem, -7.7679rem + 20.0893vw, 10.3125rem);
    gap: clamp(3.25rem, 2.8214rem + 0.8929vw, 3.625rem)
      clamp(0.4375rem, -1.2054rem + 3.4226vw, 1.875rem);

    & div {
      & h3 {
        line-height: 1.16;
      }
    }
  }

  .form-container {
    gap: clamp(3rem, -9.2857rem + 25.5952vw, 13.75rem);
    padding-block-end: clamp(5.4375rem, 5.0804rem + 0.744vw, 5.75rem);
  }
  .logos-container {
    flex-direction: row;
    justify-self: stretch;
    justify-content: space-between;
  }

  .projects-header {
    padding-inline: clamp(2rem, -7.5rem + 19.7917vw, 10.3125rem);

    & h3 {
      font-size: clamp(4.5rem, 3.3571rem + 2.381vw, 5.5rem);
      letter-spacing: clamp(-0.1562rem, -0.096rem + -0.067vw, -0.1281rem);
    }
  }
  .profile-picture-container {
    grid-template-columns: repeat(8, 1fr);
    justify-items: end;
    padding-inline: clamp(2rem, -7.5rem + 19.7917vw, 10.3125rem)
      clamp(0rem, -11.7857rem + 24.5536vw, 10.3125rem);

    & picture {
      grid-row: 1;
      grid-column: 3 / -1;
      padding-block-end: clamp(3.75rem, 0.6071rem + 6.5476vw, 6.5rem);
    }
    & img {
      width: clamp(20.125rem, 11.3393rem + 18.3036vw, 27.8125rem);
    }

    & .circle {
      right: clamp(-3.965rem, -47.425rem + 90.5417vw, 34.0625rem);
      top: clamp(29.4375rem, 25.8661rem + 7.4405vw, 32.5625rem);
    }

    & .intro-container {
      align-items: flex-start;
      text-align: start;
      grid-row: 1;
      grid-column: 1 / 6;

      gap: clamp(2.6875rem, 6.5714rem + -4.3155vw, 4.5rem);
      padding-block-start: clamp(0rem, 12.0536rem + -13.3929vw, 5.625rem);

      & h2 {
        font-size: clamp(4.5rem, 3.3571rem + 2.381vw, 5.5rem);
        letter-spacing: clamp(-0.1562rem, -0.096rem + -0.067vw, -0.1281rem);
      }

      & p {
        line-height: 1.55;
      }

      & a {
        margin-block-start: clamp(-2.125rem, -6.1964rem + 8.4821vw, 1.4375rem);
      }
    }
  }

  .project-card {
    width: clamp(21.4375rem, 7.3661rem + 29.3155vw, 33.75rem);
  }

  .projects-container {
    padding-block-start: clamp(3rem, -3.5714rem + 13.6905vw, 8.75rem);
    gap: clamp(3.75rem, 2.3214rem + 2.9762vw, 5rem)
      clamp(1.5rem, 1.0714rem + 0.8929vw, 1.875rem);
  }
}

@media (min-width: 90rem) {
  .contact-container {
    text-align: left;
    width: 45ch;
  }

  .experience-container {
    & div {
      & p {
        line-height: 1.55;
      }
    }
  }
  .profile-picture-container {
    & .intro-container {
      grid-column: 1 / 7;

      & p {
        width: 39ch;
      }
    }
  }

  .form-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .project-btns {
    display: none;
  }

  dialog {
    display: block;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    border: 0;
    background-color: transparent;
    color: transparent;

    & div {
      display: flex;
      flex-direction: column;
      gap: 3.75rem;
      height: 100%;
      justify-content: center;
      align-items: center;

      & a {
        line-height: 1.625;
        padding-block-end: 0.625rem;
        text-decoration: none;

        &:is(:link, :visited, :active) {
          color: transparent;
        }
      }
    }

    &:hover {
      background-color: hsl(from black h s l / 0.5);
      cursor: pointer;

      & div {
        & a {
          color: var(--white-text);
          border-bottom: 2px solid var(--green);
          &:is(:link, :visited, :active) {
            color: var(--white-text);
          }
          &:hover {
            color: var(--green);
            cursor: pointer;
          }
        }
      }
    }
  }

  .picture-container {
    position: relative;
  }
}
